In [3]:
## Initial imports 
import pandas as pd
import numpy as np
from pathlib import Path
import datetime as dt
import os

In [46]:
#import csv path
current_dir = os.getcwd()
data_path = os.path.join(current_dir, "Resources", "whale_returns.csv")
print(data_path)

C:\Users\Obiageri\Documents\University of Toronto\Assignment\module_4_challenge\Resources\whale_returns.csv

## Whale Returns

Read the Whale Portfolio daily returns and clean the data.

In [ ]:
#Read the Whale Portfolio daily returns and clean the data.
whale_returns_csv = "Resources\whale_returns.csv"
whale_returns_df = pd.read_csv(whale_returns_csv)
whale_returns_df

In [ ]:
# Count nulls
whale_return_nan_count = whale_returns_df.isnull().sum()
whale_return_nan_count

In [ ]:
# Drop nulls
whale_return_dropnan_df = whale_returns_df.dropna()
whale_return_dropnan_df

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data.

In [ ]:
#Read the algorithmic daily returns and clean the data.

algo_returns_csv = "./Resources/algo_returns.csv"
algo_returns_df = pd.read_csv(algo_returns_csv)
algo_returns_df

In [ ]:
# Count nulls
algo_return_nan_count = algo_returns_df.isnull().sum()
algo_return_nan_count

In [ ]:
# Drop nulls
algo_return_dropnan_df = algo_returns_df.dropna()
algo_return_dropnan_df

## S&P TSX 60 Returns

Read the S&P TSX 60 historic closing prices and create a new daily returns DataFrame from the data.

In [4]:
#Read the S&P TSX 60 historic closing prices and create a new daily returns DataFrame from the data. 
sp_tsx_history_csv = "Resources\sp_tsx_history.csv"
sp_tsx_history_df = pd.read_csv(sp_tsx_history_csv)
sp_tsx_history_df

             Date       Close
0      1-Oct-2012  $12,370.19
1      2-Oct-2012  $12,391.23
2      3-Oct-2012  $12,359.47
3      4-Oct-2012  $12,447.68
4      5-Oct-2012  $12,418.99
...           ...         ...
1813  20-Dec-2019  $17,118.44
1814  23-Dec-2019  $17,128.71
1815  24-Dec-2019  $17,180.15
1816  27-Dec-2019  $17,168.21
1817  30-Dec-2019  $17,098.56

[1818 rows x 2 columns]

In [5]:
# Check Data Types
sp_tsx_history_df.dtypes

Date     object
Close    object
dtype: object

In [15]:
# Fix Data Types(option1)
sp_tsx_history_df["Close"] = sp_tsx_history_df["Close"].str.strip("$")
sp_tsx_history_df["Close"] = pd.to_numeric(sp_tsx_history_df["Close"])
sp_tsx_history_df

ValueError: Unable to parse string "12,370.19" at position 0

In [16]:
# Fix Data Types(option1)
sp_tsx_history_df["Close"] = sp_tsx_history_df["Close"].str.strip("$")
sp_tsx_history_df["Close"] = sp_tsx_history_df["Close"].astype(float)
sp_tsx_history_df

ValueError: could not convert string to float: '12,370.19'

In [ ]:
# Calculate Daily Returns

In [ ]:
# Drop nulls
sp_tsx_dropnan_df = sp_tsx_history_df.dropna()
sp_tsx_dropnan_df

In [ ]:
# Rename `Close` Column to be specific to this portfolio.